{% extends 'base.html.twig' %}

{% block title %}FaqController{% endblock %}

{% block body %}
<H1>Faq</H1>

{% for QR in QRs %}
	<p>{{ QR.question }}</p>
	<p>{{QR.reponse}}</p>
{% endfor %}

{% endblock %}
